client/elm-stuff
client/elm.js

# Let's not version all the dependencies!
server/vendor

# Goa v1 generated code...
server/app
server/client
server/swagger
server/tool

# For Makefile.
server/.__gen__
exclude-from.txt

# The binary build artifact.
server/cpss

*.swp
notes
full_dump.sql

